.about {
  @include content-wrapper();

  &__intro {
    @extend %content-inner-wrapper-narrow;
    padding: 40px 0;
    position: relative;

    &--headline {
      @extend %title-lg;
      flex: 0 0 100%;
      text-align: center;
      margin: 0 0 rem(12);
    }

    &--subhead {
      @extend %title-serif-sm;
      flex: 0 0 100%;
      text-align: center;
      margin: 0 0 rem(40);
    }

    &--image {
      display: flex;
      height: 100%;
      margin: 0 0 rem(40);
      width: 100%;
    }
  }

  &__intro-quote {
    @extend %text-sm;
    flex: 0 0 33%;
    padding-right: 30px;

    &--quote {
      font-style: italic;
      margin-bottom: rem(12);
    }

    &--author {
      font-family: $sans;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__intro-body {
    @extend %text-lg;
    flex: 0 0 66%;
  }
}
