.insta {
  @include content-wrapper($white);
  position: relative;

  &__inner-wrapper {
    @extend %content-inner-wrapper;
    padding: rem(80) 0;
  }

  &__headline {
    @extend %title-lg;
    flex: 0 0 100%;
    margin-bottom: rem(40);
    text-align: center;
  }

  &__grams {
    flex: 0 0 100%;
    display: flex;

    &--photo {
      background: 50% 50% no-repeat;
      background-size: cover;
      flex: 0 0 calc(25% - 30px);
      margin-right: rem(30);
      outline: 0px solid $tmp-brand;
      transition: outline $ease-fast;

      &::after {
        content: "";
        display: block;
        padding-bottom: 120%;
      }

      &:hover,
      &:focus {
        outline: 4px solid $tmp-brand;
      }
    }
  }
}